.products-container {
  display: flex;
  flex-direction: column;
}
// tablet
@media screen and (min-width: 40em) {
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
  }
}